<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static '/css/custom-css-bootstrap-magic-2020-12-30.css' %}" >
    <link rel="stylesheet" href="{% static '/css/custom-variables-bootstrap-2020-12-30.css' %}" >
    <link rel="stylesheet" href="{% static '/css/base.css' %}" >
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{% url 'dashboard' %}">Dashboard</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'dashboard' %}">Інформація та сервіс
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'information' %}">Довідка</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'questionnaire' %}">Анкетна інформація</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item active">
                    <a class="nav-link active" href="{% url 'dashboard' %}">Загальний огляд</a>
                    <span class="sr-only">(current)</span>
                </li>
                {% for account in accounts %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url account.type_href %}"> {{account.type_description}} </a>
                    </li>
                {% endfor %}
            </ul>

            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'master-call' %}">Викликати майстра</a>
                </li>
            </ul>
        </nav>

        <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">

            <h1>Стан рахунків за послуги</h1>

            <div class="jumbotron" style="overflow: auto;">

                <h1>{{target_account.type_description}}</h1>

                <div style="float: left; width: 15%; margin: 1%">
                    <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="150" height="150" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
                </div>

                <div style="float: left; width: 25%; margin: 1%; font-family: 'Arial Black'; text-align: center; margin-top: 4%; font-size: 250%;">
                    <p> <font color="green"> {{target_account.balance}} </font> </p>
                </div>

                <div style="float: left; width: 50%; margin: 1%">
                    <p class="lead">
                        <b> Договір № {{target_account.contract}} </b>
                        <br> <b> Особовий рахунок: {{target_account.number}} </b>
                        <br> <b> Тариф: {{target_account.traffic}} </b>
                        <br> <b> Рахунок для сплати: {{target_account.requisites}} </b>
                        <br> <b> Призначення платежу: {{target_account.payment_target}} </b>
                        <br>
                    </p>
                </div>

            </div>

            <div style="float: top; margin-top: 1%; margin-bottom: 1%">
                <form action="{% url 'generate-report' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" id="appointment" name="appointment" value="2">
                    <button class="btn btn-lg btn-primary" style="width: 100%" type="submit" value="Submit">Отримати електронну квитанцію &raquo;</button>
                </form>
            </div>

            <div style="float: top; margin-top: 1%; margin-bottom: 2%">
                <a class="btn btn-lg btn-success" style="width: 100%" href="../../components/navbar/" role="button">Здійснити оплату онлайн &raquo;</a>
            </div>

            <div>
                <div style="width: 65%; float: left; margin-right: 1%">
                    <h2>Фінансова історія</h2>
                    <p> <b> Зверніть увагу. </b> Платежі в історії підтверджуються лише після їх обробки бухгалтерією. </p>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Дата транзакції</th>
                                    <th>Час транзакції</th>
                                    <th>Тип транзакції</th>
                                    <th>Сума</th>
                                    <th>Статус</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for transaction in transactions %}
                                    <tr>
                                        <td> {{transaction.date}} </td>
                                        <td> {{transaction.time}} </td>
                                        <td> {{transaction.type_description}} </td>
                                        <td> {{transaction.amount}} </td>
                                        <td> {{transaction.status_description}} </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <form action="{% url 'generate-report' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="appointment" value="2">
                       <button class="btn btn-lg btn-primary" style="width: 100%" type="submit" value="Submit">Повна виписка &raquo;</button>
                    </form>

                    <div style="margin-top: 1%; margin-bottom: 2%">
                        <form>
                            <a class="btn btn-lg btn-success" style="width: 100%" href="../../components/navbar/" role="button">Онлайн оплата &raquo;</a>
                        </form>
                    </div>
                </div>

                <div style="width: 34%; float: left;">

                    <h2>Показники лічильника</h2>
                    <p> Історія і введення показників лічильника. </p>

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Дата</th>
                                    <th>Показники</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for metric in metrics %}
                                    <tr>
                                        <td> {{metric.date}} </td>
                                        <td> {{metric.value}} </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>


                    <form action="{% url 'generate-counter-report' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="appointment" value="1">
                       <button class="btn btn-lg btn-primary" style="width: 100%" type="submit" value="Submit">Повна виписка &raquo;</button>
                    </form>

                    <div style="margin-top: 2%; margin-bottom: 1%">
                        <form class="form-inline my-2 my-lg-0" action="{% url 'list-create-metric' user.username %}" method="post" novalidate onsubmit="setTimeout(function(){window.location.reload();},10);">
                            {% csrf_token %}
                            <input class="form-control mr-sm-2" id="value" name="value" style="width: 50%" type="text" placeholder="Показники лічильника" aria-label="Показники лічильника">
                            <input type="hidden" id="client" name="client" value="{{user.username}}">
                            <input type="hidden" id="appointment" name="appointment" value="2">
                            <button class="btn btn-lg btn-success" style="width: 48%" type="submit" value="Submit">Надіслати</button>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>