<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static '/css/custom-css-bootstrap-magic-2020-12-30.css' %}" >
    <link rel="stylesheet" href="{% static '/css/custom-variables-bootstrap-2020-12-30.css' %}" >
    <link rel="stylesheet" href="{% static '/css/base.css' %}" >
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{% url 'dashboard' %}">Dashboard</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dashboard' %}">Інформація та сервіс
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'information' %}">Довідка</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'questionnaire' %}">Анкетна інформація</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dashboard' %}">Загальний огляд</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'building-service' %}">Обслуговування будинку
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'electricity' %}">Постачання електроенергії</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'water' %}">Постачання води
                    </a>
                </li>
            </ul>

            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'master-call' %}">Викликати майстра</a>
                </li>
            </ul>
        </nav>
        <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
            <h1>Ваша анкетна інформація</h1>
            <div class="jumbotron">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><b>ПІБ</b></td>
                            <td>Прізвище ім'я по-батькові</td>
                        </tr>
                        <tr>
                            <td><b>Адреса</b></td>
                            <td>Адреса</td>
                        </tr>
                        <tr>
                            <td><b>Особовий рахунок</b></td>
                            <td>000000000</td>
                        </tr>
                        <tr>
                            <td><b>Договір №</b></td>
                            <td>0000</td>
                        </tr>
                        <tr>
                            <td><b>e-mail</b></td>
                            <td><input class="form-control mr-sm-2" type="text" placeholder="e-mail" aria-label="e-mail"></td>
                        </tr>
                        <tr>
                            <td><b>Телефон</b></td>
                            <td><input class="form-control mr-sm-2" type="text" placeholder="+380000000000" aria-label="+380000000000"></td>
                        </tr>
                        <tr>
                            <td><b>Наявність viber</b></td>
                            <td>
                                <label>
                                    <input type="checkbox" value="remember-me"> Є за цим номером
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td><b>Наявність telegram</b></td>
                            <td>
                                <label>
                                    <input type="checkbox" value="remember-me"> Є за цим номером
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td><b>Додатковий телефон</b></td>
                            <td><input class="form-control mr-sm-2" type="text" placeholder="+380000000000" aria-label="+380000000000"></td>
                        </tr>
                        <tr>
                            <td><b>Пароль</b></td>
                            <td><input class="form-control mr-sm-2" type="text" placeholder="**********" aria-label="password"></td>
                        </tr>
                        </tbody>
                    </table>
                    <a class="btn btn-lg btn-success" style="width: 100%; margin-top: 3%" href="#" role="button">Оновити інформацію</a>
                </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>